@import "font-awesome";

@tailwind base;
@tailwind components;
@tailwind utilities;
.flex-col-row-gap {
    @apply flex flex-col sm:flex-row gap-1.5 my-1.5;
}

.service {
    @apply rounded-full bg-macaw-100 w-20 h-20 mx-auto
}

.service-name {
    @apply text-xl font-bold py-2
}

.service-name h2 {
    @apply flex flex-row;
}

.service-name h2:after {
    content: "";
    flex: 1 1;
    margin: auto;
    @apply border-b-macaw-900 ml-2 border-b-2;
}

.nav-item {
    @apply p-2 whitespace-nowrap
}

.nav-link {
}
