@tailwind base;
@tailwind components;
@tailwind utilities;

.service {
    @apply rounded-full bg-macaw-100 w-20 h-20 mx-auto
}

.service-name {
    @apply text-xl font-bold py-2
}

.service-name h2 {
    @apply flex flex-row;
}

.service-name h2:after {
    content: "";
    flex: 1 1;
    margin: auto;
    @apply border-b-macaw-900 ml-2 border-b-2;
}

.nav-item {
    @apply px-2 py-1 whitespace-nowrap;
}

.nav-link:hover {
    @apply text-macaw-900;
}

.highlight {
    @apply bg-macaw-900 text-white rounded font-bold
}

.active {
    @apply border-macaw-900 border-2 rounded;
}

.footer-link {

}

.footer-link:hover {
    @apply text-macaw-900;
}

.footer-icons {
    @apply text-macaw-900;
}

.footer-icons:hover {
    @apply text-white;
}
